<ul>
  <% posts.each do |post| %>
    <li class="user_posts">
      <%= link_to post.title, user_post_path(post) %>
      <br>
      <p><%= post.text %></p>
      <h3>
        comments <%= post.commentscounter %>,
        Likes <%= post.likescounter %>
      </h3>
    </li>
  <%end%>
</ul>
