<section>
  <%= render partial: 'shared/user_show', locals: {user: @user} %>
  <div class="bio">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <%= render @user.post %>
  </div>
</section
