<li class="commentspart">
  <%comments.includes(:user).each do |comment| %>
    <div class="space-c">
      <span>Name: <%= comment.user.name %></span>
      <span>Comment: <%= comment.text %></span>
    </div>
    <br>
  <%end%>
</li>
